.qntPicker button {
    display: inline-block;
    margin: 10px 10px;
    color: orange;
    background-color: papayawhip;

}

.qntPicker label {
    font-weight: bold;
    color: orange;


}

.qntPicker {
    display: inline-block;
}